
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/iframe.css' %}">
<!-- partial:index.partial.html -->
<div class="container">
	<div class="mySwiper">
		<div class="main-wrapper swiper-wrapper">
			<div class="main swiper-slide" id="beach">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Top Selling</h3>
						<h1 class="main-title">Football</h1>
						<h2 class="main-subtitle">₹ 4500/-</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Crafted from the highest quality materials.</div>
						<div class="main-content__subtitle">This football boasts a durable outer layer that can withstand the toughest playing conditions. Its unique aerodynamic design ensures maximum accuracy and speed, while the soft touch exterior allows for comfortable and precise ball control.</div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="https://edge.mwallpapers.com/photos/celebrities/sports/football-stadium-android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4khd-wallpapers-desktop-background-android-iphone-1080p-4k-hbfu4.jpg" alt="">
						<img class="bottle-img" src="\static\img\Shoes.png" />
					</div>
				</div>
			</div>
			<div class="main swiper-slide" id="savanna">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Top Selling</h3>
						<h1 class="main-title">Tennis</h1>
						<h2 class="main-subtitle">₹ 2750/-</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Maximize Your Game with Our Top-Tier Tennis Racket
						</div>
						<div class="main-content__subtitle">Our premium tennis racket is designed to take your game to the next level. With a perfect blend of power and control, you'll be able to dominate your opponents with ease. The sleek design and comfortable grip make it easy to handle, while the advanced technology reduces vibration for a smooth swing.</div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="https://images.unsplash.com/photo-1567220731225-d8b05cf7e9e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
						<img class="bottle-img" style="width: 80%; transform:rotate(45deg); margin-top: -50%;" src="\static\img\tennis.png" />
					</div>
				</div>
			</div>
			<div class="main swiper-slide" id="glacier">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Top Selling</h3>
						<h1 class="main-title">Cricket</h1>
						<h2 class="main-subtitle">₹ 3669/-</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Some masterclass strokes with our masterclass bats
						</div>
						<div class="main-content__subtitle">Elevate your game to the next level with our top-of-the-line cricket bat. Handcrafted from the finest English willow, this bat is designed to deliver unmatched power and precision, allowing you to dominate the field like a true champion.</div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="https://images.unsplash.com/photo-1512719994953-eabf50895df7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=729&q=80" alt="">
						<img class="bottle-img" style="width: 55%; margin-top: -20%;" src="\static\img\cricket.png" />
					</div>
				</div>
			</div>
			<div class="main swiper-slide" id="coral">
				<div class="left-side">
					<div class="main-wrapper">
						<h3 class="main-header">Top Selling</h3>
						<h1 class="main-title">Boxing</h1>
						<h2 class="main-subtitle">₹ 4000/-</h2>
					</div>
					<div class="main-content">
						<div class="main-content__title">Knock Out the Competition with Our High-Quality Boxing Gloves
						</div>
						<div class="main-content__subtitle">Our high-quality boxing gloves are designed to help you achieve your best performance yet. Made from durable materials and featuring an ergonomic design, our gloves offer maximum comfort and support for your hands and wrists during even the most intense training sessions.</div>
						<div class="more-menu">
							Shop Now
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<line x1="-5" y1="12" x2="19" y2="12" />
								<line x1="15" y1="16" x2="19" y2="12" />
								<line x1="15" y1="8" x2="19" y2="12" />
							</svg>
						</div>
					</div>
				</div>
				<div class="center">
					<div class="right-side__img">
						<img class="bottle-bg" src="https://images.unsplash.com/photo-1495555687398-3f50d6e79e1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
						<img class="bottle-img" src="\static\img\boxing.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="button-wrapper">
		<div class="swiper-button swiper-prev-button">
			<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
			</svg>
		</div>
		<div class="swiper-button swiper-next-button">
			<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
			</svg>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>
<script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script><script  src="{% static 'js/iframe.js' %}"></script>
{% endblock %}