{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="login-form-wrap">
    <h2>Register</h2>
    <form id="login-form"  method= "POST">
        {% csrf_token %}
      <p>
      <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="text" id="email" name="email" placeholder="Email" required><i class="validation"><span></span><span></span></i>
      </p>
      <!-- <p>
        <input type="text" id="username" name="phoneno" placeholder="Phone Number" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="text" id="usrname" name="address" placeholder="Address" required><i class="validation"><span></span><span></span></i>
      </p> -->
      <p>
        <input type="password" id="username" name="password1" placeholder="Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="username" name="password2" placeholder=" Confirm Password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
     
    </form>

    <div id="create-account-wrap">
       <p>Already Have a Account?<a href="/login">Login</a><p>
    </div><!--create-account-wrap-->
  </div><!--login-form-wrap-->

  <div>
    {% for message in messages %}
    <center><h3> {{message}} </h3></center>
    {% endfor %}
</div>
  
  {% endblock content %}